/*place global styles here */
html, body { @apply h-full overflow-hidden; }
body{
background-color:hsla(228,19%,10%,1);
background-image:
radial-gradient(at 100% 0%, hsla(348,81%,45%,0.4) 0px, transparent 50%),
radial-gradient(at 1% 0%, hsla(204,42%,48%,0.4) 0px, transparent 50%);
}
input.svelte-11z4jba{
background-color:gray !important;
}
button.svelte-11z4jba{
    background-color: gray !important;
}
div.svelte-6lhts{
    background-color: darkgray !important;
}